body{
    background: #e4e2e2;
    text-align: center;
}

.calculadora{
    border: 2px solid black;
    width:40%;
    height: 300px;
    margin: auto;
    padding: 1.5rem;
    background: #d4d3d3;
  
}


input{
    font-size: 1.2rem;
    width:12%;
    height:2rem;
    margin:.7rem 1rem;
    border:none;
}

input:hover{
    box-shadow: .5rem .5rem .5rem #82fff9;
    transform:scale(1.2);
}

.input{
    width:70%;
    height: 2rem;
    margin: 0 1rem 1rem 1rem;
    border:none;
    padding:.2rem;
    text-align: right;
}

